body{
    font-family: 'Poppins', sans-serif;
    margin:0%
}
h1{
    font-size: x-large;
}
.orange-color{
    color:orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 10%;
}
.half-width image{
    width: 0%;
}

}
.link-button{
    text-decoration:none ;
    background-color:orange;
    font-size :700px;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
}
    
    









   

